.table thead {
  position: sticky;
  top: 0;
  background-clip: padding-box;
}

.table thead tr th {
  font-weight: 500;
  text-align: left;
  background-color: #F4EDFA;
}

.table > thead > tr > th.partition-key {
  color: tomato;
}

.table > thead > tr > th.clustering-key {
  color: cornflowerblue;
}

.table > tbody > tr.addable > td {
  background: #90EE90;
}

.table > tbody > tr.addable > td > input {
  background: #90EE90;
}

.table > tbody > tr.changed > td {
  background: #F7DF8D;
}

.table > tbody > tr.changed > td > input {
  background: #F7DF8D;
}

.table > tbody > tr.pending-del > td {
  background: #F5A69C;
}

.table > tbody > tr.pending-del > td > input {
  background: #F5A69C;
}

.table input:disabled {
  background: #F4EDFA;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}
