.table thead tr td {
  font-weight: 500;
}

.table > thead > tr > td.primary-key {
  color: cornflowerblue;
}

.table > tbody > tr.pending-del > td > input {
  background: #F5671B;
}

.table > tbody > tr.addable > td > input {
  background: lightgreen;
}

.table > tbody > tr.changed > td > input {
  background: #EDE885;
}
